@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World! 🌍</h1>
    <br>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>Read how to <a href="https://learn.microsoft.com/pt-br/dotnet/core/docker/build-container?tabs=windows&pivots=dotnet-8-0" target="_blank">containerize a .NET application</a>.</p>
    <p>Web app teste para pipeline CI com github actions e containerização no Docker 🐋.</p>
</div>
